<h1>Add a new restaurant</h1>
<form action="/restaurants" method="POST">
  <label for="name">Name</label>
  <input name="name" type="text">

  <label for="address">Address</label>
  <input name="address" type="text">

  <label for="category">Category</label>
  <input name="category" type="text">

  <input type="submit">
</form>


<a href="/">Back to restaurants</a>
